<h2>Create New Book</h2>
<form action="/books" method="POST">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="title"/>
  </div>
  <div class="form-group">
    <label>Author</label>
    <input type="text" class="form-control" name="author"/>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" name="description"/>
  </div>

  <input type="submit" class="btn btn-primary" />
</form>
