<html>
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      {{ yield }}
    </div>
  </body>
</html>
